{{ partial:header }}
<main class="py-16">
    {{ if !is_homepage }}
        <div
            class="container mx-auto max-w-screen-xl px-4 pb-4 sm:px-6 lg:px-8"
        >
            <h1
                class="text-heading dark:text-heading-inverted mb-6 text-3xl font-extrabold tracking-tight sm:text-4xl lg:text-5xl"
            >
                {{ title }}
            </h1>
            {{ if subtitle }}
                <h2
                    class="text-heading dark:text-heading-inverted mb-6 text-2xl font-medium tracking-tight sm:text-3xl lg:text-4xl"
                >
                    {{ subtitle }}
                </h2>
            {{ /if }}
            <div class="flex">
                <hr class="border-primary mb-4 w-24 border-t-4" />
            </div>
            {{ partial:breadcrumbs }}
        </div>
    {{ /if }}
    {{ partial:bard_field }}
    {{ partial:contact_form }}
</main>
{{ partial:footer }}
