<main class="grid min-h-full place-items-center px-6 py-24 sm:py-32 lg:px-8">
    <div class="max-w-2xl text-center">
        <p class="text-base font-semibold text-primary">
            {{ trans:statarocket.error_404 }}
        </p>
        <h1 class="mt-4 text-3xl font-bold tracking-tight sm:text-5xl">
            {{ trans:statarocket.error_404_heading }}
        </h1>
        <p class="mt-6 text-base leading-7">
            {{ trans:statarocket.error_404_text }}
        </p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
            <a
                class="flex items-center justify-center rounded-md bg-primary px-3.5 py-2.5 text-sm font-semibold text-heading-inverted shadow-sm hover:bg-primary-hover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary"
                href="{{ site:permalink }}"
            >
                {{ trans:statarocket.back_to_homepage }}
            </a>
        </div>
    </div>
</main>
