<!DOCTYPE html>
<html
    x-data="htmlData()"
    x-init="window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => setSystemTheme(e.matches ? 'dark' : 'light'))"
    class="h-full scroll-smooth"
    :class="{ dark: darkMode }"
    lang="{{ site:short_locale }}"
>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
        />

        <!-- META-Informations -->
        {{ seo_pro:meta }}
        {{ if settings:meta_informations_icons }}
            <!-- Icons -->
            {{ settings:meta_informations_icons }}
        {{ /if }}
        <!-- Tailwind CSS & Alpine.js -->
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
    </head>

    <body
        class="{{ settings:theme }} h-full bg-body text-text dark:bg-dark-body dark:text-text-inverted"
    >
        {{ template_content }}
    </body>
</html>
