<nav class="mb-4 flex" aria-label="Breadcrumb">
    <ol
        role="list"
        class="flex space-x-4 rounded-md bg-element px-6 shadow dark:bg-dark-element"
    >
        <li class="flex">
            <div class="flex items-center">
                <a
                    href="{{ homepage }}"
                    class="text-text-muted hover:text-primary"
                >
                    {{ svg src="/assets/icons/solid/home" class="h-5 w-5 flex-shrink-0" }}
                    <span class="sr-only">Homepage</span>
                </a>
            </div>
        </li>
        {{ nav:breadcrumbs include_home="false" }}
            <li class="flex">
                <div class="flex items-center">
                    <svg
                        class="h-full w-6 flex-shrink-0 text-slate-200"
                        viewBox="0 0 24 44"
                        preserveAspectRatio="none"
                        fill="currentColor"
                        aria-hidden="true"
                    >
                        <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
                    </svg>
                    {{ if is_current }}
                        <span class="ml-4 text-sm font-medium text-text-muted">
                            {{ title }}
                        </span>
                    {{ else }}
                        <a
                            href="{{ url }}"
                            class="ml-4 text-sm font-medium text-text-muted hover:text-primary"
                        >
                            {{ title }}
                        </a>
                    {{ /if }}
                </div>
            </li>
        {{ /nav:breadcrumbs }}
    </ol>
</nav>
