<div class="mb-12 space-y-4">
    {{ if heading_1 }}
        <h2
            id="collection"
            class="anchor text-2xl font-bold tracking-tight text-heading dark:text-heading-inverted sm:text-3xl lg:text-4xl"
        >
            {{ heading_1 }}
        </h2>
    {{ /if }}
    {{ if description }}
        <div
            class="{{ settings:typography }} prose max-w-4xl text-justify dark:prose-invert"
        >
            {{ description }}
        </div>
    {{ /if }}
</div>
{{ collection from="blog|videos" :taxonomy:categories="category" limit="6" sort="date:desc" as="entries" }}
    {{ if no_results }}
        <p class="font-semibold">
            {{ trans:statarocket.no_entries_found }}
        </p>
    {{ else }}
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
            {{ entries }}
                {{ if collection == "blog" }}
                    {{ partial:posts }}
                {{ elseif collection == "videos" }}
                    {{ partial:clips }}
                {{ /if }}
            {{ /entries }}
        </div>
    {{ /if }}
{{ /collection }}
