<div class="mb-12 space-y-4">
    {{ if heading_1 }}
        <h2
            id="jobs"
            class="anchor text-2xl font-bold tracking-tight text-heading dark:text-heading-inverted sm:text-3xl lg:text-4xl"
        >
            {{ heading_1 }}
        </h2>
    {{ /if }}
    {{ if description }}
        <div
            class="{{ settings:typography }} prose max-w-4xl text-justify dark:prose-invert"
        >
            {{ description }}
        </div>
    {{ /if }}
</div>
<div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
    {{ jobs }}
        <div
            class="relative flex items-center space-x-3 rounded-lg border border-slate-300 bg-element px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-primary focus-within:ring-offset-2 hover:border-slate-400 dark:bg-dark-element dark:hover:border-primary"
        >
            {{ if logo }}
                <div class="flex-shrink-0">
                    {{ svg :src="logo" class="h-16 w-16 {logo:icon_color}" }}
                </div>
            {{ /if }}
            <div class="min-w-0 flex-1">
                <a
                    class="focus:outline-none"
                    href="{{ link }}"
                    target="_blank"
                >
                    <span class="absolute inset-0" aria-hidden="true"></span>
                    {{ if company }}
                        <p
                            class="font-medium text-heading dark:text-heading-inverted"
                        >
                            {{ company }}
                        </p>
                    {{ /if }}
                    {{ if position }}
                        <p class="truncate text-text-muted">
                            {{ position }}
                        </p>
                    {{ /if }}
                </a>
            </div>
        </div>
    {{ /jobs }}
</div>
