<div class="mb-12 space-y-4">
    {{ if heading_1 }}
        <h2
            id="skills"
            class="anchor text-2xl font-bold tracking-tight text-heading dark:text-heading-inverted sm:text-3xl lg:text-4xl"
        >
            {{ heading_1 }}
        </h2>
    {{ /if }}
    {{ if description }}
        <div
            class="{{ settings:typography }} prose max-w-4xl text-justify dark:prose-invert"
        >
            {{ description }}
        </div>
    {{ /if }}
</div>
{{ skills }}
    <div class="mb-2 flex items-center justify-between">
        <div>
            <span
                class="{{ font_color }} {{ font_background }} inline-block rounded-full px-2 py-1 text-xs font-semibold"
            >
                {{ skill }}
            </span>
        </div>
        <div class="text-right">
            <span class="{{ font_color }} inline-block text-xs font-semibold">
                {{ level }}
                %
            </span>
        </div>
    </div>
    <div
        class="{{ font_background }} mb-4 flex h-2 overflow-hidden rounded text-xs"
    >
        <div
            style="width: {{ level }} %"
            class="{{ bar_background }} flex flex-col justify-center whitespace-nowrap text-center text-white shadow-none"
        ></div>
    </div>
{{ /skills }}
