<div class="mb-12 space-y-4">
    {{ if heading_1 }}
        <h2
            id="collection"
            class="anchor text-2xl font-bold tracking-tight text-heading dark:text-heading-inverted sm:text-3xl lg:text-4xl"
        >
            {{ heading_1 }}
        </h2>
    {{ /if }}
    {{ if description }}
        <div
            class="{{ settings:typography }} prose max-w-4xl text-justify dark:prose-invert"
        >
            {{ description }}
        </div>
    {{ /if }}
</div>
<ul
    role="list"
    class="grid grid-cols-1 gap-x-6 gap-y-8 lg:grid-cols-3 xl:gap-x-8"
>
    {{ taxonomy_terms }}
        <li
            class="overflow-hidden rounded-xl border border-slate-200 bg-element dark:bg-dark-element"
        >
            <div
                class="flex items-center gap-x-4 border-b border-slate-900/5 bg-slate-50 p-6 dark:bg-slate-900"
            >
                {{ svg src="/assets/icons/outline/list-bullet" class="h-12 w-12 p-2 flex-none rounded-lg bg-element text-primary dark:bg-dark-element object-cover ring-1 ring-slate-900/10 dark:ring-white/10" }}
                <h3
                    class="text-sm font-medium leading-6 text-heading dark:text-heading-inverted"
                >
                    {{ title }}
                </h3>
            </div>
            <dl
                class="-my-3 divide-y divide-slate-200 px-6 py-4 text-sm leading-6"
            >
                {{ entries sort="date:asc" }}
                    <div class="flex gap-x-4 py-3">
                        <div class="flex-shrink-0">
                            <a href="{{ url }}">
                                <span class="sr-only">{{ title }}</span>
                                {{ if collection == "blog" }}
                                    {{ svg src="/assets/icons/outline/newspaper" class="inline-flex h-6 w-6 text-text-muted" }}
                                {{ elseif collection == "videos" }}
                                    {{ svg src="/assets/icons/outline/video-camera" class="inline-flex h-6 w-6 text-text-muted" }}
                                {{ /if }}
                            </a>
                        </div>
                        <dt class="flex-1">
                            <a href="{{ url }}">
                                {{ title }}
                            </a>
                        </dt>
                    </div>
                {{ /entries }}
            </dl>
        </li>
    {{ /taxonomy_terms }}
</ul>
