{{ partial:header }}
<main class="py-16">
    <div class="container mx-auto max-w-screen-xl px-4 pb-4 sm:px-6 lg:px-8">
        <p class="mb-2 text-base font-semibold leading-7 text-primary">
            <a href="/categories/{{ categories:slug }}">
                {{ categories:title }}
            </a>
        </p>
        <h1
            class="mb-6 text-3xl font-extrabold tracking-tight text-heading dark:text-heading-inverted sm:text-4xl lg:text-5xl"
        >
            {{ title }}
        </h1>
        <div class="flex">
            <hr class="mb-4 w-24 border-t-4 border-primary" />
        </div>
        {{ partial:breadcrumbs }}
    </div>
    <div class="container mx-auto max-w-screen-xl px-4 pb-16 sm:px-6 lg:px-8">
        <div class="flex flex-col lg:flex-row">
            <article class="w-full lg:w-9/12">
                <div
                    class="mb-8 overflow-hidden rounded-xl bg-element dark:bg-dark-element"
                >
                    {{ if video | is_embeddable }}
                        <!-- Youtube and Vimeo -->
                        <iframe
                            class="aspect-video w-full object-cover"
                            src="{{ video | embed_url }}"
                        ></iframe>
                    {{ else }}
                        <!-- Other HTML5 video types -->
                        <video
                            class="aspect-video w-full object-cover"
                            src="{{ video | embed_url }}"
                        ></video>
                    {{ /if }}
                </div>
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        <a href="/authors/{{ author:slug }}">
                            <span class="sr-only">{{ author:name }}</span>
                            {{ author }}
                                <img
                                    class="h-10 w-10 rounded-full"
                                    src="{{ glide:avatar width="40" height="40" }}"
                                    alt="{{ name }}"
                                />
                            {{ /author }}
                        </a>
                    </div>
                    <div class="ml-3">
                        <p
                            class="text-sm font-medium text-heading dark:text-heading-inverted"
                        >
                            <a
                                href="/authors/{{ author:slug }}"
                                class="hover:underline"
                            >
                                {{ author:name }}
                            </a>
                        </p>
                        <div class="flex space-x-1 text-sm text-text-muted">
                            <time datetime="{{ date format="c" }}">
                                {{ date }}
                            </time>
                            <span aria-hidden="true">&middot;</span>
                            <span>
                                {{ duration }}
                                {{ trans:statarocket.duration }}
                            </span>
                        </div>
                    </div>
                </div>
                {{ partial:bard_field class="py-8" }}
                {{ if tags }}
                    <p class="text-sm text-text-muted">
                        {{ svg src="/assets/icons/outline/tag" class="inline-flex h-6 w-6 text-primary" }}
                        {{ tags }}
                            <a
                                class="mb-2 inline-flex items-center justify-center rounded-3xl bg-element px-2 py-1 dark:bg-dark-element"
                                href="/tags/{{ slug }}"
                            >
                                {{ title }}
                            </a>
                        {{ /tags }}
                    </p>
                {{ /if }}
                {{ if playlists }}
                    <ul role="list" class="mt-8">
                        <li
                            class="overflow-hidden rounded-xl border border-slate-200 bg-element dark:bg-dark-element"
                        >
                            <div
                                class="flex items-center gap-x-4 border-b border-slate-900/5 bg-slate-50 p-6 dark:bg-slate-900"
                            >
                                {{ svg src="/assets/icons/outline/list-bullet" class="h-12 w-12 p-2 flex-none rounded-lg bg-element text-primary dark:bg-dark-element object-cover ring-1 ring-slate-900/10 dark:ring-white/10" }}
                                <h3
                                    class="text-sm font-medium leading-6 text-heading dark:text-heading-inverted"
                                >
                                    {{ playlists:title }}
                                </h3>
                            </div>
                            <dl
                                class="-my-3 divide-y divide-slate-200 px-6 py-4 text-sm leading-6"
                            >
                                {{ playlists:entries sort="date:asc" }}
                                    <div class="flex gap-x-4 py-3">
                                        <div class="flex-shrink-0">
                                            {{ if page:id == id }}
                                                {{ svg src="/assets/icons/outline/video-camera" class="inline-flex h-6 w-6 text-text-muted" }}
                                            {{ else }}
                                                <a href="{{ url }}">
                                                    <span class="sr-only">
                                                        {{ title }}
                                                    </span>
                                                    {{ svg src="/assets/icons/outline/video-camera" class="inline-flex h-6 w-6 text-text-muted" }}
                                                </a>
                                            {{ /if }}
                                        </div>
                                        <dt class="flex-1">
                                            {{ if page:id == id }}
                                                <span class="font-semibold">
                                                    {{ title }}
                                                </span>
                                            {{ else }}
                                                <a href="{{ url }}">
                                                    {{ title }}
                                                </a>
                                            {{ /if }}
                                        </dt>
                                    </div>
                                {{ /playlists:entries }}
                            </dl>
                        </li>
                    </ul>
                {{ /if }}
                {{ if related_entries }}
                    <ul role="list" class="mt-8">
                        <li
                            class="overflow-hidden rounded-xl border border-slate-200 bg-element dark:bg-dark-element"
                        >
                            <div
                                class="flex items-center gap-x-4 border-b border-slate-900/5 bg-slate-50 p-6 dark:bg-slate-900"
                            >
                                {{ svg src="/assets/icons/outline/list-bullet" class="h-12 w-12 p-2 flex-none rounded-lg bg-element text-primary dark:bg-dark-element object-cover ring-1 ring-slate-900/10 dark:ring-white/10" }}
                                <h3
                                    class="text-sm font-medium leading-6 text-heading dark:text-heading-inverted"
                                >
                                    {{ trans:statarocket.related_entries }}
                                </h3>
                            </div>
                            <dl
                                class="-my-3 divide-y divide-slate-200 px-6 py-4 text-sm leading-6"
                            >
                                {{ related_entries }}
                                    <div class="flex gap-x-4 py-3">
                                        <div class="flex-shrink-0">
                                            <a href="{{ url }}">
                                                <span class="sr-only">
                                                    {{ title }}
                                                </span>
                                                {{ if collection == "blog" }}
                                                    {{ svg src="/assets/icons/outline/newspaper" class="inline-flex h-6 w-6 text-text-muted" }}
                                                {{ elseif collection == "videos" }}
                                                    {{ svg src="/assets/icons/outline/video-camera" class="inline-flex h-6 w-6 text-text-muted" }}
                                                {{ /if }}
                                            </a>
                                        </div>
                                        <dt class="flex-1">
                                            <a href="{{ url }}">
                                                {{ title }}
                                            </a>
                                        </dt>
                                    </div>
                                {{ /related_entries }}
                            </dl>
                        </li>
                    </ul>
                {{ /if }}
                <nav
                    class="mt-8 flex items-start justify-between space-x-4 border-t border-slate-200 py-3 dark:border-slate-800"
                    aria-label="{{ trans:statarocket.pagination }}"
                >
                    {{ collection:previous in="videos" limit="1" sort="date:asc" }}
                        {{ if no_results }}
                            <span
                                class="relative rounded-md border border-slate-300 bg-menu-bg px-4 py-2 text-sm font-medium text-text-muted dark:border-slate-800 dark:bg-dark-element"
                            >
                                {{ trans:statarocket.previous_video }}
                                <br />
                                <small>
                                    {{ trans:statarocket.oldest_video }}
                                </small>
                            </span>
                        {{ else }}
                            <a
                                class="relative rounded-md border border-slate-300 bg-menu-bg px-4 py-2 text-sm font-medium text-text-muted hover:bg-menu-text-bg-hover dark:border-slate-800 dark:bg-dark-element dark:hover:bg-dark-menu-text-bg-hover"
                                href="{{ url }}"
                            >
                                {{ trans:statarocket.previous_video }}
                                <br />
                                <small>{{ title }}</small>
                            </a>
                        {{ /if }}
                    {{ /collection:previous }}
                    {{ collection:next in="weblog" limit="1" sort="date:asc" }}
                        {{ if no_results }}
                            <span
                                class="relative rounded-md border border-slate-300 bg-menu-bg px-4 py-2 text-sm font-medium text-text-muted dark:border-slate-800 dark:bg-dark-element"
                            >
                                {{ trans:statarocket.next_video }}
                                <br />
                                <small>
                                    {{ trans:statarocket.newest_video }}
                                </small>
                            </span>
                        {{ else }}
                            <a
                                class="relative rounded-md border border-slate-300 bg-menu-bg px-4 py-2 text-sm font-medium text-text-muted hover:bg-menu-text-bg-hover dark:border-slate-800 dark:bg-dark-element dark:hover:bg-dark-menu-text-bg-hover"
                                href="{{ url }}"
                            >
                                {{ trans:statarocket.next_video }}
                                <br />
                                <small>{{ title }}</small>
                            </a>
                        {{ /if }}
                    {{ /collection:next }}
                </nav>
            </article>
            <aside class="mt-8 w-full lg:ml-8 lg:mt-0 lg:w-3/12">
                <div
                    class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-1"
                >
                    {{ partial:widget_categories }}
                    {{ partial:widget_playlists }}
                    {{ partial:widget_tags }}
                </div>
            </aside>
        </div>
    </div>
    {{ partial:contact_form }}
</main>
{{ partial:footer }}
