{{ partial:header }}
<main class="py-16">
    <div class="container mx-auto max-w-screen-xl px-4 pb-4 sm:px-6 lg:px-8">
        <h1
            class="mb-6 text-3xl font-extrabold tracking-tight text-heading dark:text-heading-inverted sm:text-4xl lg:text-5xl"
        >
            {{ title }}
        </h1>
        {{ if subtitle }}
            <h2
                class="mb-6 text-2xl font-medium tracking-tight text-heading dark:text-heading-inverted sm:text-3xl lg:text-4xl"
            >
                {{ subtitle }}
            </h2>
        {{ /if }}
        <div class="flex">
            <hr class="mb-4 w-24 border-t-4 border-primary" />
        </div>
        {{ partial:breadcrumbs }}
    </div>
    {{ partial:bard_field }}
    <div class="container mx-auto max-w-screen-xl px-4 pb-16 sm:px-6 lg:px-8">
        <div class="flex flex-col lg:flex-row">
            <section class="w-full lg:w-9/12">
                {{ collection:blog paginate="6" sort="date:desc" as="posts" }}
                    {{ if no_results }}
                        <p class="font-semibold">
                            {{ trans:statarocket.no_entries_found }}
                        </p>
                    {{ else }}
                        <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
                            {{ posts }}
                                {{ partial:posts }}
                            {{ /posts }}
                        </div>
                        {{ paginate }}
                            {{ partial:pagination }}
                        {{ /paginate }}
                    {{ /if }}
                {{ /collection:blog }}
            </section>
            <aside class="mt-8 w-full lg:ml-8 lg:mt-0 lg:w-3/12">
                <div
                    class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-1"
                >
                    {{ partial:widget_categories }}
                    {{ partial:widget_article_series }}
                    {{ partial:widget_tags }}
                </div>
            </aside>
        </div>
    </div>
    {{ partial:contact_form }}
</main>
{{ partial:footer }}
