{{ user:profile field="slug" value="{author}" }}
    {{ partial:header }}
    <main class="py-16">
        <div
            class="container mx-auto max-w-screen-xl px-4 pb-4 sm:px-6 lg:px-8"
        >
            <!-- prettier-ignore -->
            <h1
                class="mb-6 text-3xl font-extrabold tracking-tight text-heading dark:text-heading-inverted sm:text-4xl lg:text-5xl"
            >
                {{ trans:statarocket.author }}: {{ name }}
            </h1>
            <div class="flex">
                <hr class="mb-4 w-24 border-t-4 border-primary" />
            </div>
            {{ partial:breadcrumbs }}
        </div>
        <section>
            <div
                class="container mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8"
            >
                <div class="flex flex-col lg:flex-row">
                    <div class="w-full lg:w-9/12">
                        <article
                            class="{{ settings:typography }} prose max-w-screen-lg dark:prose-invert"
                        >
                            {{ bio }}
                        </article>
                    </div>
                    <div
                        class="flex w-full items-center justify-center lg:ml-8 lg:w-3/12"
                    >
                        {{ if avatar }}
                            <div class="overflow-hidden rounded-full shadow-xl">
                                <img
                                    class="h-full w-full object-cover"
                                    src="{{ glide :src="avatar" width="200" height="200" }}"
                                    alt="{{ avatar:alt }}"
                                />
                            </div>
                        {{ /if }}
                    </div>
                </div>
            </div>
        </section>
        <div
            class="container mx-auto max-w-screen-xl px-4 pb-16 sm:px-6 lg:px-8"
        >
            <div class="flex flex-col lg:flex-row">
                <section class="w-full lg:w-9/12">
                    {{ collection from="blog|videos" :author:is="id" paginate="6" sort="date:desc" as="entries" }}
                        {{ if no_results }}
                            <p class="font-semibold">
                                {{ trans:statarocket.no_entries_found }}
                            </p>
                        {{ else }}
                            <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
                                {{ entries }}
                                    {{ if collection == "blog" }}
                                        {{ partial:posts }}
                                    {{ elseif collection == "videos" }}
                                        {{ partial:clips }}
                                    {{ /if }}
                                {{ /entries }}
                            </div>
                            {{ paginate }}
                                {{ partial:pagination }}
                            {{ /paginate }}
                        {{ /if }}
                    {{ /collection }}
                </section>
                <aside class="mt-8 w-full lg:ml-8 lg:w-3/12">
                    <div
                        class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-1"
                    >
                        {{ partial:widget_categories }}
                        {{ partial:widget_tags }}
                    </div>
                </aside>
            </div>
        </div>
        {{ partial:contact_form }}
    </main>
    {{ partial:footer }}
{{ /user:profile }}
